@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 70px;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

h5 {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

p {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: poProximaNova;

  &:visited {
    text-decoration: none;
  }
  &:hover,
  &:active {
    text-decoration: none;
  }
}

select {
  resize: none;
  background: none;
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}
